.vscode/**
.vscode-test/**
src/**
tsconfig.json
.gitignore
**/*.ts
**/*.map
out/**/*.test.js
out/tests/**
out/api/**
out/config.js
out/statusBar.js
out/types.js
node_modules/**
**/package-lock.json
**/pnpm-lock.yaml
**/pnpm-workspace.yaml
.pnpmrc.json
